@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(31, 63, 104, 1);
    color: rgba(31, 63, 104, 1);
}
.header{
    padding: .3rem;
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header i{
    font-size: 1.7rem;
    color: rgba(53, 110, 173, 1);
}
.banner-section{
    margin: 1rem 0;
    padding: .3rem;
    text-align: center;
}
.banner-image img{
    width: 100%;
    height: 100%;
}
.banner-content h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    letter-spacing: 0.04em;
    color: rgba(31, 63, 104, 1);
}
.banner-content p{
    padding: 1.5rem;
}
.banner-section button{
    all: unset;
    background-color: #5A98D0;;
    color: white;
    padding: 1rem 1.5rem;
    border-radius:15px ;
    margin: 1rem 0;
    border: 2px solid #5A98D0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner-section button:hover{
    background-color: unset;
    color: #5A98D0;
}
.client-section{
    margin: 1rem 0;
    padding: .3rem;
    text-align: center;
}
 h2{
    font-size: 30px;
    font-weight: 500;
}
.card{
    background-color: white;
    margin: 2rem 0;
    padding: 3rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.card img{
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    margin: 0 auto 1rem;
}

 h2{
    color: rgba(49, 96, 153, 1);
}
.card h3{
    font-weight: 500;
    color: rgba(31, 63, 104, 1);
    padding-bottom: 1rem;
}
.card button{
    all: unset;
    font-size: 1.1rem;
    color: rgba(90, 152, 208, 1);
}
.finished-project-section{
    padding: .3rem;
}
.finished-project-section img{
    width: 100%;
    height: 100%;
}
.finished-image-section{
    margin: 2rem 0;
}
.common{
    margin: 1rem 0;
}
footer{
    background-color: rgba(90, 152, 208, 1);
    color: white;
}
.footer-section p{
    color: rgba(242, 242, 242, 1);
}
.footer-overall h4{
    padding: .7rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.first-footer{
    padding:2rem .3rem;
    margin-bottom: 1rem;
}
.first-footer p, .middle-footer-section p{
    padding: .7rem 0 1.5rem; 
}
.logo-client-list h6{
    font-size: 1rem;
    line-height: 2.3rem;
    font-weight: 500;
}
.last-footer{
    background-color: rgba(49, 96, 153, 1);
}
.middle-footer-section{
    padding:2rem .3rem;
}
.middle-button button{
    all: unset;
    background-color: rgba(90, 152, 208, 1);
    color: white;
    padding: .7rem 3rem;
    border-radius: 10px;
}
.main-footer{
    padding: 2rem .3rem;
}
.main-footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.main-footer-logo h5{
    font-size: 1.7rem;
    font-weight: 600;
    
}
.common-main{
    margin-bottom: 1rem;
}
.common-main h6{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.main-list p{
    line-height: 2.2rem;
}
.finished-section-content p{
    padding: 1rem 0;
}
.common-main span{
    margin-right: 1rem;
}
.copy-para p{
    color: rgba(255, 255, 255, 0.406);
    padding: 2rem 0;
}
.middle-content p{
    color: rgba(255, 255, 255, 0.406);

}
.main2 a{
    text-decoration: none;
    color: white;
}
@media (min-width:1025px){
    .header i{
        font-size: 2rem;
    }
    .banner-overall{
        padding: 5rem 0;
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }
    .banner-section{
        padding: unset;
        margin: 30rem 0;
    }
    .banner-content p{
        padding: 1.5rem 0;
    } 
    .banner-image{
        width: 130%;
    }
    .header{
        width: 80%;
        margin: 0 auto;
    }
    .banner-section{
        display: flex;
        align-items: center;
        text-align: unset;
        flex-direction: row-reverse;
        width: 80%;
        margin: 1rem auto;
    }
    .banner-content h1{
        font-size: 40px;
        font-weight: 500;
    }
    .banner-section button{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .client-section h2{
        width: 40%;
    }
    .client-section{
        width: 80%;
        margin: 5rem auto;
        text-align: unset;
    }
    .card-overall{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 2rem;
        margin: -12rem 3rem 2rem;
        /* margin: 0 2rem; */
    }
    .finished-project-section{
        width: 80%;
        margin: 0 auto;
    }
    
    .two-image{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top:2rem ;
    }
    .common{
        margin: unset;
    }
    
    .first-footer, .middle-footer-section, .main-footer{
        width: 80%;
        margin: 0 auto;
        padding: 4rem 0;
    }
    .logo-client-list{
        padding: 5rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .h6{
        padding: 2.5rem;
        /* border-right: 2px solid orange; */
        /* border-bottom: 2px solid orange; */
    }
    .b-line{
        border-bottom: 1px solid #ffffff82;
    }
    .d-line{
        border-left:1px solid #ffffff82 ;
    }
}
@media (min-width:1201px){
    .banner-overall{
        padding: 5rem 0;
    }
    .banner-image{
        width: 80%;
    }
    .banner-content{
        width: 80%;
        
    }
    .banner-content p{
        padding: 3rem 0;
    }
    .banner-content h1{
        font-size: 55px;
    }
    .banner-content p{
        font-size: 1.4rem;
        line-height: 35px;
    }
    footer{
        border-top-left-radius: 150px;
        background-color: rgba(90, 152, 208, 1);
    }
    .last-footer{
        margin-right: 10%;
        border-top-right-radius: 150px;
    }
    hr{
        width: 80%;
    }
    .middle-footer-section{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: center;
    }
}
@media(min-width:1400px){
    /* body{
        display: none;
    } */
    .card-overall{
        gap: 5rem;
        margin: -14rem 8rem 2rem;
    }
    h2{
        font-size: 37px;
    }
    .client-section h2{
        width: 30%;
    }
    .margin-card{
        margin-top: 5rem;
    }
    .card{
        padding: 5rem 3rem;
    }
    .card img{
        margin-bottom: 1rem;
    }
    .cardimg{
        width: 70%;
        margin: 0 auto;
    }
    p{
        line-height: 30px;
    }
    .card button{
        margin-top: 1.5rem;
    }
    .card h3{
        font-size: 1.3rem;
    }
    .two-image{
        gap: 4rem;
        margin-top: 4rem;
    }
    .finished-project-section{
        margin: 3rem auto;
    }
    .finished-image-section{
        padding: 4rem 0;
    }
    .finished-section-content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: space-between;
        align-items: center;
    }
    .finished-section-content h2{
        width: 70%;
    }
    .finished-section-content p{
        font-size: 1.2rem;
        width: 80%;
    }  
    .logo-client-list h6{
        padding-left: 6rem;
    } 
    .footer-overall h4{
        font-size: 2.5rem;
    }
    .footer-heading{
        display: flex;
        align-items: center;
    }
    .first-footer{
        padding: 6rem 0;
    }
    .footer-heading h4{
        width: 20%;
    }
    .footer-heading p{
        width: 50%;
        margin: 0 auto;
    }
    .middle-content{
        width: 60%;
    }
    .middle-button button{
        padding: 1rem 5rem;
        border-radius: 12px;
    }
    .main-list{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
    }
    .common-main h6{
        margin-top: unset;
    }
    .bg-logo{
        background-color: rgba(0, 0, 0, 0.173);
    }
    .header-section{
        margin: 1rem 0;
    }
    .footer-overall p{
        line-height: 3rem;
    }
    p{
        font-size: 19px;
    }
}